header {
    width: 90%;
    height: 100px;
    background-color: orchid;
}

article {
    width: 50%;
    height: 100px;
    background-color: steelblue;
}

aside, footer {
    width: 90%;
    height: 100px;
    background-color: green;
}
section {
    width: 2.2em;
    height: 3.7em;
    margin: 10px auto;
    border-radius: 15px;
    background-color: steelblue;
    font-size: 80pt;
    text-align: right;
    font-family: "Arial Black", sans-serif;
    box-sizing: border-box;
    padding: 20px;
    line-height: 1.1em;
}
form {
    height: 100px;
    margin: 0;
    display: inline;

}
.bottomLine {
    background-color: steelblue;
    border-bottom: 20px black solid;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}