* {
    margin: 50px auto;
    background-color: black;
    border-radius: 20px;
}

header {
    width: 90%;
    height: 100px;
    background-color: orchid;
}

section {
    width: 80%;
    height: 200px;
    background-color: blue;
}

article {
    width: 50%;
    height: 100px;
    background-color: steelblue;
}

aside, footer {
    width: 90%;
    height: 100px;
    background-color: green;
}

