header, footer, section {
    margin: 0 auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
}


header {
    width: 90%;
    height: 100px;
    background-color: darkorchid;
}

article {
    width: 50%;
    height: 100px;
    background-color: steelblue;
}

aside, footer {
    width: 90%;
    height: 100px;
    background-color: lightsteelblue;
}

section {
    width: 90%;
    margin: 10px auto;
    border-radius: 15px;
    background-color: steelblue;
    font-family: "Arial Black", sans-serif;
    line-height: 1.1em;
}

form {
    height: 100px;
    margin: 0;
    display: inline;

}

.bottomLine {
    background-color: steelblue;
    border-bottom: 20px black solid;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}