<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Server</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
{{if .First}}
    Welcome, {{.First}}!
{{else}}
    Welcome!
{{/*<div>
        <form method="post" action="/logon/">
            <input type="text" name="username" placeholder="username"><br>
            */}}{{/*<input type="password" name="password" placeholder="password"><br>*/}}{{/*
            <input type="submit">
        </form>
    </div>*/}}
{{end}}</header>

<section>
    <div class="icon">
        <article><a href="/flashCard/">Flash Card Game</a></article>
    </div>
</section>

{{template "footer"}}

</body>
</html>
